*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
:root{
  --colorA:#f6f2f2;
  --colorB:#f6eeee;
  --colorC:#f2e6e6;
  --colorD:#eedcdc;
  --colorE:#e7d0d0;
  --colorF:#e0a6a6;
}
.App {
  height: 100vh;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

